# Server
ENV="development"
SERVER_PORT=3333
SERVER_URL="http://localhost:3333"

# WebSocket
WS_URL="ws://localhost:8080/messages"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecoo_db?schema=public"

# Cache
CACHE_MANAGER_URL="redis://localhost:6379"

# Client
FRONT_URL="http://localhost:3001"

# Integrations
INTEGRATIONS_AUTHORIZATION="Bearer <token>"

# Auth
JWT_SECRET="private"

# Mail
ECOO_EMAIL="suporte@ecoo.org.br"
ECOO_EMAIL_PASSWORD="12345678"
SMTP_HOST="localhost"
SMTP_PORT=2525

# Storage
STORAGE_URL="/___/rest-api/src/test/storage/temp"

