# Environment
ENVIRONMENT=DEVELOPMENT

# Server
SERVER_PORT=3333
SERVER_URL=http://localhost:3333

# Auth
JWT_SECRET=YOUR_SECRET_KEY

# App
APP_URL=http://localhost:3000

# WebSocket
WS_URL=ws://localhost:8080/messages

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecoo_db?schema=public

# Cache
CACHE_URL=redis://localhost:6379

# Storage
STORAGE_URL=___/ecoo/rest-api/src/test/storage/temp

# Integrations
INTEGRATIONS_AUTHORIZATION=YOUR_TOKEN_INTEGRATIONS_AUTHORIZATION

# Email
EMAIL_ACCOUNT=suporte@ecoo.org.br
EMAIL_PASSWORD=senha

SMTP_HOST=localhost
SMTP_PORT=2525

BATCH_EMAIL_ACCOUNT=suporte@ecoo.org.br
BATCH_EMAIL_PASSWORD=senha

BATCH_SMTP_HOST=localhost
BATCH_SMTP_PORT=2525

# LLM
OPENAI_API_KEY=

# Warehouse
WAREHOUSE_NAME=Armazém do eCOO